@charset "UTF-8";

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #C4170C;
    height: 80px;
    padding: 20px 30px 30px 20px;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin:auto
}

h1{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
    opacity: 1;
    color: #000000;
}

h2{
    font-size: 25px;
    font-weight:bold;
    color: #8B0000;
}

h3{
    font-size: 20px;
    color: #8B0000;
}

h4{
    font-size: 15px;
    font-weight: normal;
    color: #000000
}

h5{
    font-size: 13px;
    font-weight: bold;
    color: #000000
}

p{
    font-size: 14px;
    font-weight: normal;
}

a{
    text-decoration: none;
}

.top-nav{
    display: flex;
    justify-content: space-between;
}

.menu-button{
    display: flex;
    align-items: center;
}

.menu-text{
    text-decoration: none;
    color:#FFFFFF;
    text-transform: uppercase;
}

.logo{
    width: 70%;
}

#buscar{
    padding-left: 30px;
    width: 120px;
    height: 35px;
    border: 1px solid #707070;
    border-radius: 8px;
    background: #8B0000 url(../images/iconfinder_search_126577.svg) no-repeat left;
    color:#FFFFFF
}

#buscar::placeholder{
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-headline{
    width: 100%;
    height: 300px;
    margin: 50px 0 20px 0;
    padding: 60px 30px;
    box-sizing: border-box;
    border: 1px solid #707070;
    border-radius: 4px;
    color:#8B0000
}

.entertainment-headlines img{
    width: 100%;
    object-fit: contain;
}

.entertainment-headlines h5{
    margin: 5%;
    margin-top: 2px ;
}

.economy-2{
    margin-top: 20px;
    color: #746565
}

.economy img{
    width: 100%;
    object-fit: contain;
    
}

.economy{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.button-default{
    display: block;
    background-color: #C4170C;
    color:#FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
    margin: 100px auto;
    opacity: 1;
    width: 180px;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    padding-top: 15px;
}

footer{
    background-color: #C4170C;
    height: auto;
    padding: 20px 30px 30px 20px;
    box-sizing: border-box;
    color: #FFFFFF;
}

footer a{
    color: #FFFFFF;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;;
}

.footer-more-info li{
    display: inline-block;
}

.footer-more-info{
    flex-wrap: wrap;
}


@media screen and (min-width: 48.75em){

    .main-contet{}

    .entertainment-headlines{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }

    .entertainment-headlines h5{
        margin: 0;
    }

    .entertainment-headlines img{
        width: 95%;
        object-fit: contain;
    }

    .title-image-1{
        padding-right: 5%;
    }

    .title-image-2{
        padding-left: 5%;
    }


    .image-2{
        padding-left: 5%;
 
    }
    
    .entretainment .headline-1{
        padding-left: 10%;
    }

    .economy-headline{
        margin: 0 50px 0 30px;
    }

    .row-1-3{
        display: flex;
        flex-direction: row;

    }

    .row-2-3{
        display: flex;
        flex-direction: row;

    }

    .row-3-3{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 75em){
    
    main{
        width: 85%;
        margin:auto
    }

    .destaque{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 30px;   
        box-sizing: border-box;
    }

    .destaque h2{
        padding-right: 150px;
    }

    .main-headline{
        grid-row: 1 / -1;
        grid-column: 1 / 3;
        width: 36em;   
        height: 28.75em;
        padding: 130px 30px;
        border: 1px solid #707070;
        border-radius: 4px;
        color:#8B0000;
    }

    .entertainment-headlines{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        height: 300px;
        width: 500px;
        
    }

    .headline-1{
        grid-row: 1 / 2;
        grid-column: 3 / -1;
        margin-left: 20px;
    }

    .headline-2{
        grid-row: 2 / 3;
        grid-column: 3 / -1;
        margin-left: 20px;
        margin-top: 50px;
    }

    .entretainment img{
        width: 100%;
        object-fit: contain;
    }

    .title-image-1{
        padding-right: 0;
    }

    .title-image-2{
        padding-left: 0;
    }

    .image-2{
        padding-left: 0;
 
    }

    .economy img{
        object-fit: contain;
        width: 100%;
        padding: 1.25% 0;
    }

    .economy-headline{
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 0 100px 0 30px;
    }


}



